//////////////////////////////////////
// カラーパレット
:root {
    --primary-color: #357a00;
    --primary-hover-color: #3C8C00;
    --text-color: #272727;
    --background-color: #f5f6f6;
}

//////////////////////////////////////
// 基本スタイル
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 200px;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.75;

    main {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
    }
}

h1 {
    font-weight: bold;
}

a {
    color: var(--text-color);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

i {
    padding-right: 5px;
}

.img-thumbnail {
    border-radius: 0;
    padding: 2px;
}

.thumbnail_area {}

//////////////////////////////////////
/// 共通パーツ
// ページング処理
.pagination {
    .sm\:justify-between {
        display: block;
    }
}

// ページトップ
.pagetop {

    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 1px #4C4C4C;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 90;
    cursor: pointer;
    opacity: .8;

    .pagetop__arrow {
        display: block;
        height: 10px;
        width: 10px;
        border-top: 3px solid #222222;
        border-right: 3px solid #222222;
        transform: translateY(20%) rotate(-45deg);
    }
}


// ヘッダー＆ナビゲーション
.header {
    a {
        text-decoration: none;
    }

    .navbar-subtitle {
        font-size: 12px;
        margin-top: -10px;
        letter-spacing: 1px;
        color: #fff;
    }

    .navbar {
        padding: 5px;
    }

    .navbar-subtitle {
        margin-bottom: 0;
    }

    .register-btn {
        margin-left: 10px;
    }

    .btn-register.btn-primary {
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        background: var(--primary-color);
        border: solid 1px var(--primary-color);

        &:hover {
            background: var(--primary-hover-color);
            border: solid 1px var(--primary-color);
        }
    }

    .navbar-nav {
        form {
            position: relative;
            top: 5px;
            right: 5px;
        }
    }

    .thumbnail {
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        flex-shrink: 0;

        .img-thumbnail {
            padding: 0;
            border: none;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .nav-link.dropdown-toggle {
        display: flex;
        align-items: center;
    }

    .dropdown-menu {
        margin-top: 4px;
    }
}

// フッター
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    a {
        text-decoration: none;
        font-size: 12px;
    }

    .footer-list {
        display: table;
        margin: auto;

        &-item {
            display: table-cell;

            &:not(:last-child)::after {
                content: "|";
                padding: 10px;
            }
        }
    }
}

// カード
.card {
    border: none;

    .card-header {
        font-weight: bold;
        background-color: var(--background-color);
        border-bottom: #E3E3E3 solid 1px;
        border-left: #E3E3E3 solid 10px;
        border-radius: 0;
    }

    .card-body {
        border: none;
        padding: 20px 15px;
    }

    /* ボタン */
    .btn-primary {
        background: var(--primary-color);
        border: solid 1px var(--primary-color);

        &:hover {
            background: var(--primary-hover-color);
            border: solid 1px var(--primary-color);
        }
    }
}

//////////////////////////////////////
// ユーザー情報
#user_edit,
#user_show {
    .table th {
        width: 130px;
    }

    section {
        margin-bottom: 40px;
    }
}

// ユーザー情報 表示
#user_show {
    .table td {
        .thumbnail {
            width: 100px;

            img {
                width: 100%;
                border-radius: 50px;
            }
        }

    }

    section {
        margin-bottom: 40px;
    }

    section.total_price {
        text-align: center;
        .price {
            font-weight: bold;
            font-size: 30px;
            margin: 0;
            padding: 0;
        }

        .price span {
            font-size: 18px;

        }

        .notice {
            font-size: 12px;
            color: #ff0000;
        }

    }


    section.user_info {}

    section.book_list {
        .item_id {
            width: 30px;
        }

        .item_name {
            width: 150px;
        }

        .item_category {
            width: 150px;
        }

        .item_price {
            width: 150px;
        }

        .item_published_at {
            width: 150px;
        }

        .item_review {
            width: auto;
        }

        .item_edit,
        .item_delete {
            width: 59px;
            text-align: center;

            a,
            button {
                padding: 4px 7px;
                font-size: 11px;
            }
        }

    }

    hr {
        margin: 40px 0;
    }
}


// ユーザー情報 編集
#user_edit {
    .table {
        textarea {
            height: 200px;
        }
    }
}

//////////////////////////////////////
/// 書籍関連
// 書籍一覧
#books_index {
    .thead {
        .item_thumbnail {
            width: 100px;
            text-align: center;
        }

        .item_name {
            width: 200px;
        }

        .item_price {
            width: 250px;
        }

        .item_category {
            width: 150px;
        }

        .item_published_at {
            width: 150px;
        }

        .item_user_id {
            width: 100px;
        }

        .item_review {
            /* width: 300px; */
        }
    }

    .tbody {
        .item_name {}
    }

    .card-body {
        .btn-primary {
            width: 30%;
            padding: 10px 0;
            background: var(--primary-color);
            border: solid 1px var(--primary-color);

            &:hover {
                background: var(--primary-hover-color);
                border: solid 1px var(--primary-color);
            }
        }
    }
}

// 書籍詳細情報 登録
#books_create {
    textarea {
        height: 100px;
    }
}

// 書籍詳細情報 表示
#books_show {
    .card-body {
        i {
            padding-right: 15px;
            display: inline-block;
            width: 20px;
        }

        .book-details h4 {
            font-weight: bold;
            margin: 0 0 20px 0;
        }

        .table th {
            width: 200px;
        }
    }

}

// 書籍詳細情報 編集
#books_edit {
    .table th {
        width: 200px;
    }

    .table textarea {
        height: 150px;
    }
}

// 書籍検索結果一覧
#search_results {
    .thead {
        .item_thumbnail {
            width: 100px;
            text-align: center;
        }

        .item_name {
            width: 200px;
        }

        .item_price {
            width: 250px;
        }

        .item_category {
            width: 150px;
        }

        .item_published_at {
            width: 150px;
        }

        .item_user_id {
            width: 100px;
        }
    }

    .tbody {
        .item_name {}
    }

    .search-results {
        text-align: center;
        font-size: 16px;
        padding: 20px 0;
    }
}

//////////////////////////////////////
// スマートフォン用スタイル
@media (max-width: 767px) {
    #books_index {
        .table tr>td:last-child {
            margin-bottom: 20px;
            border-bottom: none;
        }

        .table th {
            display: none;
        }

        .table td {
            display: block;
            padding: 5px;
            width: 100% !important;
            box-sizing: border-box;
        }
    }


    // #user_show {
    //     .table{
    //         display: flex;

    //     }
    //     .table thead th{
    //         display: list-item;
    //         list-style: none;
    //     }
    //     .table thead,
    //     .table .tbody {
    //         display: table-cell;
    //     }
    //     .table td {
    //         display: list-item;
    //         list-style: none;
    //         width: 100% !important;
    //         box-sizing: border-box;
    //     }

    //     section.book_list .item_edit, 
    //     section.book_list .item_delete{
    //         border-color: #fff;
    //         display: flex;
    //     }
    //     section {
    //         margin-bottom: 40px;
    //     }
    // }

}

//////////////////////////////////////
/// 静的ページ
// プライバシーポリシー
#privacy {
    section {
        margin-bottom: 30px;

        h2 {
            font-size: 22px;
            font-weight: bold;
            border-left: solid 5px var(--text-color);
            padding-left: 10px;
        }

        h3 {
            font-size: 18px !important;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            margin-bottom: 20px;
        }

        ul {
            list-style: inside;
        }
    }
}

// このサイトについて
#about {
    section {
        margin-bottom: 50px;

        h2 {
            font-size: 22px;
            font-weight: bold;
            border-left: solid 5px var(--text-color);
            padding-left: 10px;
        }

        h3 {
            font-size: 18px !important;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            margin-bottom: 20px;
        }

        ul {
            list-style: inside;
        }
    }
}